<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>Name: <%= inputdata.name %>
    </div>
    <div>Email: <%= inputdata.email %>
    </div>
    <div>Degree:<%=inputdata.degree%>
    </div>
    <div>Hobbies:<%=inputdata.hobby%>
    </div>
    <div>Country:<%=inputdata.country%>
    </div>
    <div>About :<%=inputdata.description%>
    </div>



</body>

</html>